@font-face {
  font-family: 'Antonio Bold';
  src: url(./Antonio-Bold.ttf);
}

@font-face {
  font-family: 'FiraMono';
  src: url(./FiraMono-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'FiraCode';
  src: url(./FiraCode-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'FiraCode';
  src: url(./FiraCode-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'FiraCode';
  src: url(./FiraCode-Bold.ttf);
  font-weight: bold;
}
