/*********************
/* 0. RESET
/* 1. VARIÁVEIS
/* 2. ESTILOS GERAIS
/* 3. HEADER / NAV
/* 4. MAIN
/* 5. SOBRE
/* 6. PORTFÓLIO
/* 7. CONTATO
/* 8. FOOTER
*********************/

/*********************
/* 0. RESET
*********************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  scroll-behavior: smooth;
}

a,
a:hover a:active {
  color: var(--black);
  text-decoration: none;
}

ul {
  list-style: none;
}

/*********************
/* 1. VARIÁVEIS
*********************/

:root {
  font-size: 10px;
  --black: #272727;
  --blue-dark: #3e464f;
  --white-gray: #f5f5f5;
  --white: #ffffff;
}

/*********************
/* 2. ESTILOS GERAIS
*********************/
.lines::before {
  content: '';
  width: 260px;
  height: 5px;
  background-color: var(--black);
  display: block;
  margin-bottom: 10px;
}
.lines::after {
  content: '';
  width: 260px;
  height: 5px;
  background-color: var(--black);
  display: block;
  margin: 10px 0px 50px 0px;
}

/*********************
/* 3. HEADER / NAV
*********************/

.header {
  max-width: 980px;
  margin: 20px auto 100px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__list__item {
  margin: 20px;
}

.nav__list__link {
  font-family: 'Antonio Bold';
  font-size: 1.8rem;
  letter-spacing: 3px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

.nav__list__link:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}

@media (max-width: 919px) {
  .header {
    display: block;
    margin: 0;
  }

  .header__logo--background {
    background-color: var(--white-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .nav__list {
    justify-content: center;
  }
}

@media (max-width: 492px) {
  .nav__list__link {
    font-size: 1.6rem;
    padding: 5px;
  }

  .nav__list__item {
    height: 80px;
    margin: 0;

    display: flex;
    align-items: center;
  }

  @media (max-width: 230px) {
    .nav__list__link {
      font-size: 1.4rem;
    }
  }
}

/*********************
/* 4. MAIN
*********************/

.home {
  max-width: 980px;
  margin: 0px auto 100px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__wrapper__title {
  width: 473px;
  font-family: 'FiraMono';
  font-size: 4.8rem;
  color: var(--black);
}

.home__wrapper__text {
  font-family: 'FiraCode';
  font-size: 1.8rem;
  margin: 22px 0px 33px 0px;
  color: var(--black);
}

.home__wrapper__button {
  font-family: 'FiraCode';
  font-size: 2.2rem;
  color: var(--white);
  text-transform: uppercase;

  background-color: var(--blue-dark);
  border-radius: 5px;
  padding: 13px 27px;
  cursor: pointer;
  border: 2px solid transparent;
}

.home__wrapper__button:hover {
  background-color: transparent;
  color: var(--blue-dark);
  border: 2px solid var(--blue-dark);
}

.home__wrapper__button:active {
  background-color: var(--black);
  color: var(--white);
}

.home__img__tag {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 919px) {
  .home__bg {
    background-color: var(--white-gray);
  }

  .home {
    justify-content: center;
  }

  .home__wrapper__title {
    width: 432px;
    margin-top: 118px;
  }

  .home__wrapper__button {
    margin-bottom: 118px;
  }

  .home__wrapper {
    justify-content: center;
    text-align: center;
  }

  .home__img {
    display: none;
  }
}

@media (max-width: 492px) {
  .home__wrapper__title {
    width: 285px;
    font-size: 3.2rem;
  }

  .home__wrapper__text {
    margin: 35px 0px;
  }
}

/*********************
/* 5. SOBRE
*********************/

.sobre {
  max-width: 770px;
  margin: 0px auto 100px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre__description {
  margin: 0px 30px;
}

.sobre__title {
  font-family: 'FiraCode';
  font-weight: 500;
  font-size: 3.6rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

.sobre__subtitle {
  font-family: 'FiraCode';
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 48.96px;
  margin-bottom: 22px;
}

.sobre__text {
  font-family: 'FiraCode';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 27.5px;
  margin-bottom: 44px;
}

@media (max-width: 456px) {
  .sobre {
    margin-bottom: 50px;
  }
  .sobre__subtitle {
    font-size: 2.6rem;
    line-height: 39.78px;
    margin-bottom: 25px;
  }

  .sobre__text {
    margin-bottom: 50px;
  }
}
/*********************
/* 6. PORTFÓLIO
*********************/
.portfolio {
  max-width: 980px;
  margin: 0px auto 50px auto;
}

.portfolio__title__center {
  display: flex;
  justify-content: center;
}

.portfolio__title {
  font-family: 'FiraCode';
  font-weight: 500;
  font-size: 3.6rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 30px;
}

.portfolio__card {
  width: 250px;
  height: 250px;
  background-color: var(--blue-dark);
  margin-bottom: 50px;
  border-radius: 5px;
  cursor: pointer;
}
/*********************
/* 7. CONTATO
*********************/
.contato {
  max-width: 700px;
  margin: 0px auto 100px auto;
}

.contato__title__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contato__title {
  font-family: 'FiraCode';
  font-weight: 500;
  font-size: 3.6rem;
  text-align: center;
  color: var(--black);
}

.contato__redes {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 512px) {
  .contato__redes {
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

/*********************
/* 8. FOOTER
*********************/
.footer-bg {
  background-color: var(--white-gray);
}

.footer {
  max-width: 980px;
  height: 100px;
  margin: auto;

  display: flex;
  align-items: center;
}

.footer__logo,
.footer__direitos,
.footer__contato {
  flex: 1;
}

.footer__direitos__text {
  font-family: 'FiraCode';
  font-size: 1.8rem;
}

.footer__contato {
  font-family: 'FiraCode';
  font-size: 1.8rem;
}

@media (max-width: 919px) {
  .footer {
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer__logo,
  .footer__direitos,
  .footer__contato {
    flex: initial;
  }
}
